{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Simplify</title>
  
  <script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static '/vendors/popper/popper.min.js' %}"></script>
  <script src="{% static '/vendors/bootstrap/js/bootstrap.bundle.js' %}"></script>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<style type="text/css">
    
	</style>
    
</head>

<body>
  <div class="container-fluid">
     <div row>
        <div class="col-12">
          <h1> Welcome to Simplify</h1>
       </div>
        
    </div>
    
    <div row>
        <h3> turn complicated text into understandble text for your audience!</h3>
    </div>
    
    <div row>
      <p> insert dropdown here </p>
   
    </div>
    
    <div row>
      <p> insert button here </p>
    </div>
  </div>
  
</body>
</html>
